{
    "presets": [
        [
            "@nrwl/react/babel",
            {
                "runtime": "automatic",
                "useBuiltIns": "usage"
            }
        ],
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": [
        ["@babel/plugin-transform-react-jsx", { "runtime": "automatic" }]
    ]
}
