{
    "presets": [
        [
            "@nrwl/react/babel",
            {
                "runtime": "automatic",
                "useBuiltIns": "usage"
            }
        ],
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": []
}
